.actions {
    width: 100%;

    display: flex;
    justify-content: center;
}

.actions-input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 4vw;
}

.actions-input input {
    width: 16rem;
    text-align: center;

    text-decoration: underline;
    text-decoration-color: var(--cor-white);
}

.actions-select select {
    background-color: var(--cor-white);

    border-top: 1.5vw solid var(--cor-principal);
    border-radius: 1.5vw;

    padding: 1.25vw 2.5vw 1.75vw;
}

@media screen
and (max-width: 850px) {

    .actions {
        margin: 5rem 0 ;
    }

    .actions-input {
        display: none;
    }

    .actions-select {
        display: block;

        width: 100%;

        margin: 0 5rem;

        display: flex;
        justify-content: center;
    }

    .actions-select select {
        font-size: 2.4rem;
        
        min-width: 15rem;
        max-width: 25rem;
        width: 100%;
    }
    
}

@media screen
and (max-width: 350px) {
    .actions-select select {
        font-size: 1.6rem;
    }
}



@media screen
and (min-width: 851px) {

    .actions {
        height: 16.4rem;
    }

    .actions-select {
        display: none;
    }

    .actions__button {
        background-color: var(--cor-white);
    
        border-radius: 1rem;
        border-top: 1rem solid var(--cor-principal);
        
        font-size: 2.4rem;
    
        height: 6.4rem;
    
        box-sizing: border-box;
    
        padding: 1rem 2rem 1.5rem;
    
        transition: padding .4s ease, height .4s ease, width .4s ease, text-decoration-color .3s ease;
    }
    .actions__button:hover {
        cursor: pointer;
        padding: 1.5rem 2.5rem 2rem;
        height: 7.4rem;
        width: 18rem;
    }

    #button-todos {
        text-decoration-color: var(--cor-principal);
    }
}