:root {
    font-size: 62.5%;
}

body {
    background-color: rgb(226, 218, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
}


/* Header */

    .header__title {
        background-color: #a6a6da;
        color: #11005e;
        
        border-bottom: 5px inset #00004e;

        text-align: center;
        font-size: 4.2rem;
        
        margin-bottom: 0;
        
        padding: .6rem;
    }

    .header__subtitle {
        background-color: #6b6bff;

        text-align: center;
        font-size: 2rem;

        display: inline-block;

        margin-top: 0;
        margin-left: 0;

        width: 100%;
    }

    @media screen
    and (max-width: 360px) {
        .header__title {
            font-size: 10vw;
        }

        .header__subtitle {
            font-size: 1.6rem;
        }
    }

/**/


/* Links */

    .links {
        width: 100%;

        display: flex;
        justify-content: right;
        gap: 1rem;
    }

    .links__button {
        background-color: #b2b2c7;
        color: #00004e;

        display: block;

        padding: 1.6rem 0;

        font-size: 2.2rem;
    }

    .links__button:hover {
        background-color: #00004e;
        color: white;
    }

    .links__button:hover a {
        text-decoration: none;
    }

    .links__button a {
        color: unset;
    }

    @media screen
    and (max-width: 700px) {
        .links {
            justify-content: center;
        }

        .links__button {
            flex-grow: 1;
            text-align: center;
        }
    }
    
    @media screen
    and (max-width: 500px) {
        .links__button {
            font-size: 2rem;
        }
    }
    
    @media screen
    and (max-width:350px) {
        .links__button {
            font-size: 1.6rem;
        }
    }

    @media screen
    and (max-width: 255px) {
        .links {
            flex-flow: column;
        }
        .links__button {
            font-size: 2rem;
            padding: 1rem;
        }
    }

/**/



h2 {
    font-size: 32px;
    background-color: #bababe;
    color: #000074;
    padding: 7px;
    border-bottom: 4px solid #00009c;
}

h3 {
    font-size: 27px;
    margin-left: 50px;
}

p {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(44, 44, 44);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #1414e9;
}
a:hover {
    text-decoration: underline;
}

li {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    list-style-position: outside;
    color: rgb(44, 44, 44);
}