@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 62.5%;
    font-family: roboto;

    margin: 0;
}

body {
    background-image: url(../Relógio/images/night.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;

    background-color: rgb(33, 34, 54);
    color: aliceblue;
    
    margin: 0;
    height: 100vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header {
    background-color: rgb(18, 117, 101);

    padding: 1.5rem;

    border-radius: 40% 0;
    transition: all .7s ease;
}
.header:hover {
    transition: all .7s ease;
    padding: 2.3rem;
    border-radius: 1.5rem;
}
.header h1 {
    font-size: 5rem;
    font-weight: 400;

    margin: 0;
}

.container {
    background-color: rgba(74, 74, 160, 0.281);
    backdrop-filter: blur(1rem) saturate(200%);

    width: 40rem;

    padding: 2rem;

    border-radius: 1rem;

    box-shadow: 0 1.5rem 4rem  rgb(18, 117, 101);

    display: flex;
    flex-flow: column;

    transition: all .7s ease;
}
.container:hover {
    transition: all .7s ease;
    padding: 3rem;
}

.container__numero {
    font-size: 9rem;

    text-align: center;
}

.container__actions {
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__actions button {
    font-size: 2rem;

    border: none;
    background-color: rgb(18, 117, 101);
    color: aliceblue;

    padding: 1rem 1rem;

    border-radius: .5rem;

    transition: all .5s ease;
}

.container__actions button:hover {
    transition: all .5s ease;
    padding: 2rem;
    border-radius: 0;
    border: .3rem solid white;
}