@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 62.5%;
    font-family: montserrat;
}


body {
    background-color: #262544;
    background-image: url(images/background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;

    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}



.header {
    background-color: #151422;
    border: .2rem solid #f0f8ff;
    
    margin-bottom: 3rem;
    
    border-radius: 2rem;
}
.header h1 {
    color: #f0f8ff;

    font-size: 5rem;
    font-weight: 500;

    width: max-content;

    margin: 0;
    padding: 1rem;
}



.container {
    color: #f0f8ff;

    border: .1rem solid #f0f8ff;
    backdrop-filter: blur(.5rem) saturate(30%);

    padding: 2rem;

    border-radius: 2rem;

    display: flex;
    gap: 5rem;

    transition: all .6s ease;
}
.container:hover {
    padding: 3rem;
    gap: 6rem;
}

.container__left {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 1rem;
}

.item__left, .item__right {
    display: flex;
    flex-flow: column;
}
.item__left input, .item__right textarea {
    background-color: #262544;
    color: #f0f8ff;
    border: .1rem solid #f0f8ff;

    font-family: montserrat;
    font-weight: 700;
    font-size: 2rem;

    padding: 1rem;
}

.item__left label, .item__right label {
    font-size: 2rem;
    font-weight: 600;
}

#calcular {
    height: 4rem;
    padding: 0;

    background-color: #151422;
    color: #f0f8ff;
    border: .2rem solid #262544;

    font-family: montserrat;
    font-size: 2rem;
    font-weight: 600;
}

textarea {
    resize: none;
}