html, body {
    min-height: 100%;
}

body {
    background-color: #000;
    background-image: url(imagens/bg-2.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    font-family:Arial, Helvetica, sans-serif;

    width: 60%;
    margin: auto;
}

.hero {
    color: #fff;
    text-align: center;
}
.hero h1 {
    text-shadow: 2px 3px 5px #000;

    font-size: 70px;
    text-transform: uppercase;

    min-width: max-content;

    margin: 80px auto 80px;

    padding: 60px;
    padding-bottom: 0;
}
.hero h2 {
    background-color: rgba(0, 0, 0, .7);
    border-bottom: 2px solid;

    font-weight: 100;

    padding: 16px;

    width: max-content;
    min-width: max-content;

    margin: auto;
    margin-bottom: 60px;
}

.container {
    background-color: #fff;

    display: flex;
    flex-flow: row wrap;
    gap: 16px;

    height: fit-content;
    width: 932px;
    margin: auto;
    padding: 16px;
}
.container__elemento img {
    display: block;
}
.container__elemento p {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}