.footer {
    background-color: color-mix(in srgb, var(--primary-color), black 10%);
    color: var(--white);
    
    padding: 3rem;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 2rem;
}

.footer h4 {
    font-size: 2rem;
    letter-spacing: .5rem;
}

.footer p {
    font-size: 1.6rem;
    
    margin: 0 3rem;
}